# Trabajo final: exploración del módulo 12 de la ENAHO - Cultura

En el presente trabajo se explorará el módulo 12 de la Encuesta Nacional de Hogares (ENAHO) del año 2020. Este módulo corresponde a "Esparcimiento, diversión y servicios de cultura". Ello con el motivo de hacer un gráfico final en el que se vislumbren los bienes culturales que las familias adquirieron (pregunta 606N) según la región geográfica (DOMINIO). En particular, queremos observar en qué región geográfica se han consumido más periódicos, revistas y libros.

La pregunta 606N es "En el mes anterior, ... Ud., o algún miembro de este hogar obtuvieron, consiguieron, compraron o le regalaron Producto/Servicio:

1. Periódicos, revistas y libros

2. Esparcimiento y diversión (Cine, CD, juguetes, espectáculos Deportivos, etc...)

3. Aportaciones o cuotas a clubes, asociaciones, etc.

4. Gastos en gimnasio ( Aeróbicos, artes marciales, pesas )

5. USB

6. Artículos deportivos

7. Útiles de escritorio ( Cuadernos, papeles, etc. )

8. Otros gastos

Aquellos que no respondieron, tienen los valores 2 o 9 en la pregunta P606.

## Importación de datos y librerías

In [ ]:
import pandas as pd
import os
import altair as alt
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

os.chdir('/content/drive/MyDrive/Universidad/2022/python verano')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
Cultura = pd.read_csv('Enaho01-2020-606.csv', encoding = "latin-1")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Exploración inicial de la data

Al trabajar con bases de datos, es conveniente explorarla preliminarmente para saber ante qué nos enfrentamos.

In [ ]:
#Al llamar al dataframe 'Cultura' de esta manera, podemos ver las columnas y primeras y últimas observaciones (Filas)

Cultura

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,P606N,P606,...,I606C6,I606C7,I606C,TICUEST01,TIPOCUESTIONARIO,TIPOENTREVISTA,FACTOR07,FACTOR_P,NCONGLOME,SUB_CONGLOME
0,2020,1,5009,12,11,10101,4,4,1,2,...,,,,2,0,1,149.202744,186.594396,7076,0
1,2020,1,5009,12,11,10101,4,4,2,2,...,,,,2,0,1,149.202744,186.594396,7076,0
2,2020,1,5009,12,11,10101,4,4,3,2,...,,,,2,0,1,149.202744,186.594396,7076,0
3,2020,1,5009,12,11,10101,4,4,4,2,...,,,,2,0,1,149.202744,186.594396,7076,0
4,2020,1,5009,12,11,10101,4,4,5,2,...,,,,2,0,1,149.202744,186.594396,7076,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275915,2020,12,20305,137,11,250301,7,4,4,2,...,,,,2,2,1,275.828552,379.820045,15122,0
275916,2020,12,20305,137,11,250301,7,4,5,2,...,,,,2,2,1,275.828552,379.820045,15122,0
275917,2020,12,20305,137,11,250301,7,4,6,2,...,,,,2,2,1,275.828552,379.820045,15122,0
275918,2020,12,20305,137,11,250301,7,4,7,2,...,,,,2,2,1,275.828552,379.820045,15122,0
275919,2020,12,20305,137,11,250301,7,4,8,2,...,,,,2,2,1,275.828552,379.820045,15122,0

In [ ]:
Cultura.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275920 entries, 0 to 275919
Data columns (total 50 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   AÑO               275920 non-null  int64
 1   MES               275920 non-null  int64
 2   CONGLOME          275920 non-null  int64
 3   VIVIENDA          275920 non-null  int64
 4   HOGAR             275920 non-null  int64
 5   UBIGEO            275920 non-null  int64
 6   DOMINIO           275920 non-null  int64
 7   ESTRATO           275920 non-null  int64
 8   P606N             275920 non-null  int64
 9   P606              275920 non-null  int64
 10  P606A1            275920 non-null  object
 11  P606A2            275920 non-null  object
 12  P606A3            275920 non-null  object
 13  P606A4            275920 non-null  object
 14  P606A5            275920 non-null  object
 15  P606A6            275920 non-null  object
 16  P606A7            275920 non-null  object
 17  P606A8            275920 non-null  object
 18  P606AA            275920 non-null  object
 19  P606B             275920 non-null  object
 20  P606C2            275920 non-null  object
 21  P606C3            275920 non-null  object
 22  P606C4            275920 non-null  object
 23  P606C5            275920 non-null  object
 24  P606C6            275920 non-null  object
 25  P606C7            275920 non-null  object
 26  P606C             275920 non-null  object
 27  D606B             275920 non-null  object
 28  D606C2            275920 non-null  object
 29  D606C3            275920 non-null  object
 30  D606C4            275920 non-null  object
 31  D606C5            275920 non-null  object
 32  D606C6            275920 non-null  object
 33  D606C7            275920 non-null  object
 34  D606C             275920 non-null  object
 35  I606B             275920 non-null  object
 36  I606C2            275920 non-null  object
 37  I606C3            275920 non-null  object
 38  I606C4            275920 non-null  object
 39  I606C5            275920 non-null  object
 40  I606C6            275920 non-null  object
 41  I606C7            275920 non-null  object
 42  I606C             275920 non-null  object
 43  TICUEST01         275920 non-null  int64
 44  TIPOCUESTIONARIO  275920 non-null  int64
 45  TIPOENTREVISTA    275920 non-null  int64
 46  FACTOR07          275920 non-null  float64
 47  FACTOR_P          275920 non-null  object
 48  NCONGLOME         275920 non-null  int64
 49  SUB_CONGLOME      275920 non-null  int64
dtypes: float64(1), int64(15), object(34)
memory usage: 105.3+ MB

## Transformación de datos

### Reducción de base de datos
Con el fin de permitir que el programa se ejecute más rápido, se reducirán las variables a usar. Se creará una base de datos más pequeña.

Para el archivo 'Cultura', se seleccionarán las variables ```CONGLOME, VIVIENDA, HOGAR, DOMINIO, P606 y P606N```.

In [ ]:
#1. Lista con columnas a usar
lst1 = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'DOMINIO', 'P606', 'P606N'] #para Cultura



#2. Creando subset
BD = Cultura[lst1].copy().reset_index()

In [ ]:
BD

         index  CONGLOME  VIVIENDA  HOGAR  DOMINIO  P606  P606N
0            0      5009        12     11        4     2      1
1            1      5009        12     11        4     2      2
2            2      5009        12     11        4     2      3
3            3      5009        12     11        4     2      4
4            4      5009        12     11        4     2      5
...        ...       ...       ...    ...      ...   ...    ...
275915  275915     20305       137     11        7     2      4
275916  275916     20305       137     11        7     2      5
275917  275917     20305       137     11        7     2      6
275918  275918     20305       137     11        7     2      7
275919  275919     20305       137     11        7     2      8

[275920 rows x 7 columns]

In [ ]:
BD['P606'].value_counts()

2    257558
1     17963
9       399
Name: P606, dtype: int64

### Eliminación de valores perdidos/vacíos

Luego, a fin de poder realizar los cruces de información propuestos, se eliminarán las filas con datos vacíos o perdidos.

In [ ]:
#Eliminación de observaciones que no tienen información sobre bienes adquiridos (P606). Valores 2 y 9. 
BD = BD[BD.P606 != 2]
BD = BD[BD.P606 != 9]

In [ ]:
BD

         index  CONGLOME  VIVIENDA  HOGAR  DOMINIO  P606  P606N
17          17      5009        98     11        4     1      2
25          25      5015         7     11        4     1      2
38          38      5015        19     11        4     1      7
40          40      5015        70     11        4     1      1
41          41      5015        70     11        4     1      2
...        ...       ...       ...    ...      ...   ...    ...
275792  275792     20242       107     11        7     1      1
275807  275807     20242       124     11        7     1      8
275815  275815     20242       140     11        7     1      8
275823  275823     20242       156     11        7     1      8
275872  275872     20305        10     11        7     1      1

[17963 rows x 7 columns]

### Añadido de etiquetas

In [ ]:
#1- Se agregarán etiquetas correspondientes a la variable Gran Dominio
BD['DOMINIO2'] = BD['DOMINIO']

BD.replace({'DOMINIO2': {1: 'Costa Norte', 2: 'Costa Centro', 3:'Costa Sur', 4:'Sierra Norte',
                         5:'Sierra Centro', 6:'Sierra Sur', 7:'Selva', 8:'Lima Metropolitana'}}, inplace = True)

BD

         index  CONGLOME  VIVIENDA  HOGAR  DOMINIO  P606  P606N      DOMINIO2
17          17      5009        98     11        4     1      2  Sierra Norte
25          25      5015         7     11        4     1      2  Sierra Norte
38          38      5015        19     11        4     1      7  Sierra Norte
40          40      5015        70     11        4     1      1  Sierra Norte
41          41      5015        70     11        4     1      2  Sierra Norte
...        ...       ...       ...    ...      ...   ...    ...           ...
275792  275792     20242       107     11        7     1      1         Selva
275807  275807     20242       124     11        7     1      8         Selva
275815  275815     20242       140     11        7     1      8         Selva
275823  275823     20242       156     11        7     1      8         Selva
275872  275872     20305        10     11        7     1      1         Selva

[17963 rows x 8 columns]

In [ ]:
#2- Se agregarán etiquetas correspondientes a la variable P606N
BD['P606CAT'] = BD['P606N']

BD.replace({'P606CAT': {1: 'Periodicos, revistas y libros', 
                        2: 'Esparcimiento y diversion (Cine, CD, juguetes, espectaculos deportivos, etc) ', 
                        3:'Aportaciones o cuotas a clubes, asociaciones, etc.', 
                        4:'Gastos en gimnasio (Areobicos, artes marciales, pesas)',
                         5:'USB', 6:'Articulos deportivos', 
                        7:'Utiles de escritorio (Cuadernos, papeles, etc.)', 8:'Otros gastos'}}, inplace = True)

BD

,index,CONGLOME,VIVIENDA,HOGAR,DOMINIO,P606,P606N,DOMINIO2,P606CAT
17,17,5009,98,11,4,1,2,Sierra Norte,"Esparcimiento y diversion (Cine, CD, juguetes,..."
25,25,5015,7,11,4,1,2,Sierra Norte,"Esparcimiento y diversion (Cine, CD, juguetes,..."
38,38,5015,19,11,4,1,7,Sierra Norte,"Utiles de escritorio (Cuadernos, papeles, etc.)"
40,40,5015,70,11,4,1,1,Sierra Norte,"Periodicos, revistas y libros"
41,41,5015,70,11,4,1,2,Sierra Norte,"Esparcimiento y diversion (Cine, CD, juguetes,..."
...,...,...,...,...,...,...,...,...,...
275792,275792,20242,107,11,7,1,1,Selva,"Periodicos, revistas y libros"
275807,275807,20242,124,11,7,1,8,Selva,Otros gastos
275815,275815,20242,140,11,7,1,8,Selva,Otros gastos
275823,275823,20242,156,11,7,1,8,Selva,Otros gastos
275872,275872,20305,10,11,7,1,1,Selva,"Periodicos, revistas y libros"

### Haciendo subset como último paso previo al gráfico

In [ ]:
#Como se mencionó en la introducción, deseamos averiguar en qué región geográfica del país se consumen más Periódicos, revistas y libros. Para ello, crearemos un subset. 
BD2 = BD[BD['P606CAT'] == "Periodicos, revistas y libros"]

In [ ]:
#Luego, se hace la selección para Periodicos, revistas y libros
BD3 = BD2[['P606N', 'DOMINIO2']].groupby('DOMINIO2').sum()
BD3

                    P606N
DOMINIO2
Costa Centro         1218
Costa Norte           915
Costa Sur             402
Lima Metropolitana   1240
Selva                 942
Sierra Centro         727
Sierra Norte          113
Sierra Sur            707

In [137]:
#Finalmente, se crea un data frame en base a estas observaciones:
BD4 = {"Dominio Geográfico": ["Costa Centro", "Costa Norte", "Costa Sur", "Lima Metropolitana", "Selva", "Sierra Centro", "Sierra Norte", "Sierra Sur"], 
     "Cantidad": [1218, 915, 402, 1240, 942, 727, 113, 707]}

BD5 = pd.DataFrame(BD4)

In [141]:
#Luego convertimos a porcentaje para hacer el gráfico más interesante

BD5['Porcent'] = (BD5['Cantidad'] / 
                  BD5['Cantidad'].sum()) * 100

BD5['Porcentaje'] = (19.4, 14.61, 6.42, 19.80, 15.04, 11.60, 1.80, 11.29)

BD5

   Dominio Geográfico  Cantidad    Porcent  Porcentaje
0        Costa Centro      1218  19.444444       19.40
1         Costa Norte       915  14.607280       14.61
2           Costa Sur       402   6.417625        6.42
3  Lima Metropolitana      1240  19.795658       19.80
4               Selva       942  15.038314       15.04
5       Sierra Centro       727  11.606003       11.60
6        Sierra Norte       113   1.803959        1.80
7          Sierra Sur       707  11.286718       11.29

## Gráfico

A diferencia de indicadores numéricos o tablas, un gráfico permitirá analizar el consumo y uso de productos o servicios según región de una manera más clara y atractiva. Es por ello que, a continuación, se procederá a construir uno en base a las variables ```Porcentaje``` y ```Dominio Geográfico```, que como se vio anteriormente, son el resultado de las recodificaciones de las variables ```P606``` y ```DOMINIO``` y la creación de subsets. Este paso previo facilitará el armado del gráfico.

Por otro lado, en tanto se está trabajando con variables cualitativas, se ha considerado que el mejor método para visualizar los datos será mediante un gráfico de pie que muestre los porcentajes. Por ende, este gráfico tiene leyenda y etiquetas, mas no ejes.

In [152]:

base = alt.Chart(BD5).encode(
    theta=alt.Theta("Porcentaje:Q", stack=True), color=alt.Color("Dominio Geográfico:N")
).properties(title={
      "text": ["Consumo de Periódicos, revistas y libros según Dominio Geográfico (Porcentaje)"], 
      "subtitle": ["Fuente: ENAHO 2020"],
      "color": "Black",
      "subtitleColor": "Black"
    })

pie = base.mark_arc(outerRadius=120)
text = base.mark_text(radius=140, size=20).encode(text="Porcentaje:N")

pie2 = pie + text

In [153]:
pie2

alt.LayerChart(...)